---
import Layout from "../../components/Layout.astro";
import { getCollection } from "astro:content";
import ReleaseCard from "../../components/ReleaseCard.astro";
const releases = await getCollection("releases");
---
<Layout>
	<h1>Music</h1>
	
	{releases.map((release) => (
		<ReleaseCard
			title={release.data.title}
			cover={release.data.cover}
			url={`/music/${release.slug}`}
		/>
	))}
</Layout>
