---
import Layout from "../components/Layout.astro";
---

<Layout>
  <h1>anemoiac</h1>
  <p>Music, visuals, and releases.</p>

  <div style="margin-top: 40px;">
    <a href="/music">→ Listen to music</a>
  </div>
</Layout>
