---
import Layout from "../components/Layout.astro";
---

<Layout>
  <h1>anemoiac</h1>
  <p>
  def Anemoia( )
  {"one who yearns for a time in which they never existed"}
  </p>

  <div style="margin-top: 40px;">
    <a href="/music">→ Listen to my music</a>
  </div>
</Layout>
