---
import Navbar from "./Navbar.astro";
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>anemoiac</title>
	</head>
	
	<body>
		<Navbar />
		
		<main>
			<slot />
		</main>

	</body>
</html>
